<h2>Novo Contato:</h2>
<hr/>
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group">
    <div class="alerta" *ngIf="!nome.valid && nome.touched">Campo obrigatório.</div>
    <input type="text" placeholder="Nome" ngModel name="nome" #nome="ngModel" required />

    <div class="alerta" *ngIf="!sobrenome.valid && sobrenome.touched">Campo obrigatório.</div>
    <input type="text" placeholder="Sobrenome" ngModel name="sobrenome" #sobrenome="ngModel" required />

    <div class="alerta" *ngIf="!telefone.valid && telefone.touched">Campo obrigatório.</div>
    <input [textMask]="{mask: maskTEL}" type="text" placeholder="Telefone" ngModel name="telefone" #telefone="ngModel" required />
  </div>
  <div class="alerta validacao" *ngIf="this.valida && !f.valid">Preencher todos os campos corretamente.</div>
  <ul>
    <li><a routerLink="/" class="botao neutro" title="Voltar"><</a></li>
    <li><button type="submit" class="botao novo" title="Salvar">s</button></li>
    <li><input class="botao limpar" value="x" type="reset" title="Limpar"></li>
  </ul>
</form>
